<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<body>
<!-- Navigation -->
<div th:replace="~{fragments/nav :: nav}"></div>

<main>
    <!-- Main Content -->
    <div class="container-flex container mt-4">
        <h1>Menu</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Unit of measure</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menuItem : ${menuItems}">
                <td th:text="${menuItem.product.name}"></td>
                <td th:text="${menuItem.unit.name}"></td>
                <td th:text="${menuItem.quantity}"></td>
                <td th:text="${menuItem.price}"></td>
                <td>
                    <div>
                        <a class="btn btn-outline-primary btn-sm" th:href="${'/menu/' + menuItem.id}">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" th:href="${'/menu/' + menuItem.id + '/delete'}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-success" th:href="${'/menu/new'}">Add New Menu Item</a>
    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>